.day {
  padding: 10px;
  background-color: #fff;
  border: 2px dashed #ccc;
  border-radius: 10px;
  min-height: 50px;
  margin-bottom: 20px; 
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#burgerMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#deleteListBtn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#deleteListBtn:hover {
  background-color: #e60000;
}

select {
  padding: 5px;
  border-radius: 5px;
}